


*{
	margin: 0;
	padding: 0;
	font-family: ;
	box-sizing: border-box;

}

header{
	width: 100%;
}
header{
	height: 40px;
	background-color: #434343;
}

.container{
	width: 1060px;
	margin: 0 auto;
}

.container_big{
	height: 600px;	
	width: 1400px;
	margin: 0 auto;	
}

.header_name{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.logo{
	font-size: 15px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	padding: 13px 13px 0 0;
}

.logo:hover{
	cursor: pointer;
}

a{
	color: white;
	text-decoration: none;
}

.nav{
	padding: 14px 13px 0 0;
}

.nav_list{
	display: flex;
	list-style: none;
	text-transform: uppercase;
}

.nav_list_item{
	position: relative;
	color: white;
	margin: 0 15px;
	letter-spacing: 0.05em;
	font-size: 14px;
	font-weight: bold;	
}

.nav_list_item:hover{
	cursor: pointer;
}

.first_part{
	background: url("img/training.jpg") no-repeat 50% 35%;
	background-size: cover;	
}

.box{
	display: flex;
	position: relative;
}

.move_right{
	position: absolute;
	color: blue;
	font-size: 80px;
	margin-top:250px;
	right: 0;
}

.move_left{
	position: absolute;
	color: blue;
	font-size:80px;
	margin-top:250px;

}

.move_right:hover, .move_left:hover{
	cursor: pointer;
}

.main_part{
	width: 45%;
	right: 0;
	position: absolute;
}

.main_part p:first-child{
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: bold;
	margin-top: 160px;	
}

.main_part p:nth-child(2){
	text-align: center;
	font-size: 18px;
	margin-top: 32px;
	line-height: 1.5em;
	word-spacing: 0.4em;
}

.main_button{
	width: 290px;
	height: 60px;
	font-size: 24px;
	letter-spacing: 0.1em;
	margin: 30px 0 0 100px;
	border-radius: 12px;
	text-transform: uppercase;
	border:none;
}

.main_button:hover{
	cursor: pointer;
	background-color: grey;
	color: white;

}