
*{
	margin: 0;
	padding: 0;
	font-family: ;
	box-sizing: border-box;

}

header{
	width: 100%;
}
header{
	height: 40px;
	background-color: #434343;
}

.container{
	width: 1060px;
	margin: 0 auto;
}

.container_big{	
	width: 1200px;
	margin: 0 auto;	
}

.header_name{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.logo{
	font-size: 15px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	padding: 13px 13px 0 0;
}

.logo:hover{
	cursor: pointer;
}

a{
	color: white;
	text-decoration: none;
}

.nav{
	padding: 14px 13px 0 0;
}

.nav_list{
	display: flex;
	list-style: none;
	text-transform: uppercase;
}

.nav_list_item{
	position: relative;
	color: white;
	margin: 0 15px;
	letter-spacing: 0.05em;
	font-size: 14px;
	font-weight: bold;	
}

.nav_list_item:hover{
	cursor: pointer;
}

.first_part{
	background: url("img/training.jpg") no-repeat 50% 35%;
	background-size: cover;	
	height: 600px;
}

.box{
	display: flex;
	position: relative;
}

.move_right{
	position: absolute;
	color: blue;
	font-size: 80px;
	margin-top:250px;
	right: 0;
}

.move_left{
	position: absolute;
	color: blue;
	font-size:80px;
	margin-top:250px;

}

.move_right:hover, .move_left:hover{
	cursor: pointer;
}

.main_part{
	width: 45%;
	right: 0;
	position: absolute;
}

.main_part p:first-child{
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: bold;
	margin-top: 160px;	
}

.main_part p:nth-child(2){
	text-align: center;
	font-size: 18px;
	margin-top: 32px;
	line-height: 1.5em;
	word-spacing: 0.4em;
}

.main_button{
	width: 290px;
	height: 60px;
	font-size: 24px;
	letter-spacing: 0.1em;
	margin: 30px 0 0 100px;
	border-radius: 12px;
	text-transform: uppercase;
	border:none;
}

.main_button:hover{
	cursor: pointer;
	background-color: grey;
	color: white;

}

.color_seashell{
	background-color: #FFF5EE;
	height: 720px;
	margin-top: 20px;
}
.header_section{
	color: #696969;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-top: 40px;	
	border-bottom: 8px solid #A52A2A; 
	width: 320px;
	}

.header_section p {
	font-size: 22px;
	margin-bottom: 6px;
	font-weight: bold;
}

.flexbox{
	display: flex;
	margin-top: 30px;
	margin-bottom: 80px;
	justify-content: space-between;
}

.price_field{
	position: relative;
	width: 31%;
	height: 500px;
	text-align: center;
	color: #A52A2A;
	background-color: white;
	border: 2px solid lightgrey;
	transition: all 0.6s ease-in-out;
	margin-top: 50px;
}

.price_field:hover{
	transform: scale(1.1);
}

.price_field h1{
	text-transform: uppercase;
	margin-top:30px;
    margin-bottom: 26px;
}

.circle{
	position: absolute;
	width: 55px;
	height: 55px;
	background-color: white;
	border: 2px solid lightgrey;
	border-radius: 50%;
	top: -29px;
	left: 130px;

}

.small_circle{
	width: 25px;
	height: 25px;
	background-color: lightgrey;
	border-radius: 50%;
	margin:13px;
}

.price_field .price{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: 2px solid lightgrey;
	margin-left: 28%;
	padding-top: 25px;
	color: 	grey;
	background-color: white;
}

.price p:first-child{
	font-size: 45px;
	font-weight: bold;
}

.price sup{
	font-size: 15px;
}

.price_description_box{
	margin-top: 32px;
}
.price_description{
		height: 45px;
		font-size: 25px;
		color: grey;
		background-color: #EAEAEA;
		padding: 8px;
}
.light_price{
	background-color: #F5F5F5;
}

.price_button{
	margin-top: 105px;
	border-radius: 10px;
	width: 125px;
	height: 35px;
	border: none;
	font-size: 16px;
	text-transform: uppercase;
	color: white;
	background-color: #A52A2A;
}

.price_button:hover{
	background-color: grey;
	cursor: pointer;
	color: #A52A2A;
}
.price_field.second_field{
	position: relative;
	width: 31%;
	height: 500px;
	text-align: center;
	color: #A52A2A;
	background-color: #A52A2A;
	border: 2px solid lightgrey;
	transition: all 0.6s ease-in-out;
	margin-top: 50px;
}

.brown_color{
	background-color: #A52A2A;
	border-color: #A52A2A;
}

.white_color{
	background-color: white;	
}

.price_button.button_two{
	margin-top: 60px;
	background-color: white;
	color: #A52A2A;;
}
.price_button.button_two:hover{
	background-color: grey;
	color: white;
}

.price_button.button_third{
	margin-top: 15px;
}

.message{
	height: 580px;
	background: -moz-linear-gradient(to right bottom, #B9F8FF 0%,#99D8DF 47%,#498882 100%);
	background: -webkit-linear-gradient(to right bottom, #B9F8FF 0%,#99D8DF 47%,#498882 100%);
	background: -o-linear-gradient(to right bottom, #B9F8FF 0%,#99D8DF 47%,#498882 100%);
	background: -ms-linear-gradient(to right bottom, #B9F8FF 0%,#99D8DF 47%,#498882 100%);
	background: linear-gradient(to right bottom, #B9F8FF 0%,#99D8DF 47%,#498882 100%);

	margin-top: 20px;
	margin-bottom: 20px;
}

.form_box{
	display: flex;
	height: 100%;
	margin-top: 25px;
	
}

.say_hello_part{
	width: 50%;
	margin-top: 25px;
	color: #A52A2A;
	font-size: 75px;
	text-align: left;


}
.message_part{
	width: 50%;
}
.message_part input{
	width: 510px;
	height: 65px;
	margin-bottom: 25px;
	padding-left: 20px;
	font-size: 30px;
	
	border: 1px solid #A52A2A;
}

.message_part textarea{
	width: 510px;
	height: 160px;
	padding-left: 20px;
	padding-top: 15px;
	font-size: 30px;
	border: 1px solid #A52A2A;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgray;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightgray;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: lightgray;
}

.submit_form{
	margin-top: 25px;
	margin-left: 150px;
	height: 70px;
	width:  40%;
	border: 1px solid #A52A2A;
	background-color: #A52A2A;
	border-radius: 15px;
	color: white;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.submit_form:hover{
	cursor: pointer;
	background-color: white;
	color: #A52A2A;
	border: none;
}

.footer_box{
	margin-top: 50px;
	height: 50px;
	font-size: 16px;
	display: flex;
}

footer .footer_box .copyright{
	padding: 15px 0 15px 0;
	color: gray;
	font-size: 18px;
	width: 65%;

}

.footer_box .social_media{
	display: flex;

}
.media{
	height: 40px;
	width: 40px;
	background-repeat: no-repeat;
	transition: all ease 0.2s;
}
.media:hover{
	cursor: pointer;
	transform: scale(1.1);	
}

.media_vimeo{
	background-image: url("img/vimeo.png");
}

.media_flickr{
	background-image: url("img/flickr.png");
}

.media_twitter{
	background-image: url("img/twitter.png");
}

.media_pinterest{
	background-image: url("img/pinterest.png");
}

.footer_box .footer_logo p{
	width: 200px;
	font-size: 20px;
	color: gray;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	margin-left: 50px;	
}
.footer_box .footer_logo:hover{
	cursor: pointer;
}



